<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hotel.mapper.OrderRelationMapper" >

  <select id="selectOrder" resultType="map">
  	select tab_order.*,customer_name,customer_tele,type_name,type_price
  	from tab_order 
  	inner join tab_customer on tab_order.customer_id = tab_customer.customer_id
  	inner join tab_type on tab_order.roomtype_id = tab_type.type_id
  </select>
  
 
</mapper>